body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
    background-color: bisque;
}

#container {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
}

button {
    margin-top: 10px;
    cursor: pointer;
}
